---
# The scss file which include files from _sass/
---
@charset "UTF-8";
@import "fonts";
@import "solarized-light";

$blue: #4078c0;
$paragraph: 1.75rem;

body {
  padding: 0;
  margin: 0;
  color: #1c1c1c;
  background-color: white;
  font-size: 16px;
  font-family: "proxima-nova", helvetica, arial, clean, sans-serif;
}

hr {
  width: 40%;
  margin: 2rem auto;
  border: none;
  border-bottom: solid 1px #efefef;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  padding-left: $paragraph;
  padding-right: $paragraph;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

h4 {
  margin-top: 2rem;
}

h2  {
  font-size: 1.2rem;
}

.byline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}


p {
  margin-top: 0;
  margin-bottom: 1.7em;
  line-height: 1.6em;

  code {
    font-size: 90%;
    background-color: #fdf6e3;
    padding: 1px 3px;
  }
}

img {
  width: 120%;
  margin-left: -10%;
  padding: 1rem 0;
}

a {
  color: $blue;
  text-decoration: underline;
}

input, .button {
  margin: 0 auto;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5;
}

input[type=submit] {
    padding:5px 15px;
    background:#fff;
    border: solid 1px #efefef;
    cursor:pointer;
    text-transform: uppercase;
}

.light {
  opacity: 0.2;
}



footer {
  span.copyright {
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    display: block;
  }

  #mc_embed_signup_scroll {
    margin: 3rem auto;
    .center {
      margin-bottom: 1rem;
    }

    @media screen and (min-width: 768px) {
      width: 400px;
    }

  }

  .email_form {
    display: flex;

    input[type="email"] {
      flex: 2;
      margin-right: 5px;
    }

  }
}

.SiteHeader {
  display: flex;
  align-items: center;

  &__title {
    flex: 1;
    color: inherit;
    h1 {
      display: inline-block;
    }
  }

  &__icons {
    a {
      color: inherit;
    }
    text-align: right;
    margin: 1.1rem 0;
    line-height: 1.6;
  }
}

pre {
  overflow-x: scroll;
  padding: 1rem;
  margin-bottom: $paragraph;
  font-size: 0.85rem;

  margin-left: -$paragraph;
  width: calc(100% + 3.5rem);
}

blockquote {
  background-color: #fffaf0;
  font-size: 0.9375rem;
  margin: $paragraph 0;
  padding: 1em;

  p:last-child {
    margin-bottom: 0;
  }
}

// Posts

.Posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 0;
}

.PostItem {
  margin-bottom: .5rem;
  display: flex;
  align-items: baseline;

  &__name {
    display: inline-block;
    flex: 1;
  }

  &__date {
    margin-right: 1rem;
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 85%;
  }
}

.Post h1 {
  font-size: 2rem;
  span {
    display: block;
  }
}

.Post__titlelink {
  color: inherit;
  text-decoration: none;
}

.RelatedPosts {
  margin-top: 2em;
}

li {
  line-height: 1.5;
}
