---
layout: new
title: Home
---

<div class="Home">
  <h1>Notes & How Tos</h1>
  <ul class="Posts">
    {% for post in site.categories.notes %}
      <li class="PostItem">
        <a class="PostItem__name" href="{{ post.url }}">{{ post.title }}</a>
        <span class="PostItem__date">{{ post.date | date_to_string }}</span>
      </li>
    {% endfor %}
  </ul>

  <h1>Travel</h1>
  <ul class="Posts">
    {% for post in site.categories.travel %}
      <li class="PostItem">
        <a class="PostItem__name" href="{{ post.url }}">{{ post.title }}</a>
        <span class="PostItem__date">{{ post.date | date_to_string }}</span>
      </li>
    {% endfor %}
  </ul>

  <h1>Other links, posts, videos, etc</h1>
  <ul class="Posts">
    {% assign sorted = site.others | sort: 'date' | reverse %}
    {% for other in sorted %}
    <li class="PostItem">
      <a class="PostItem__name" target="_blank" href="{{ other.link }}">{{other.title}}</a>
      <span class="PostItem__date">{{ other.date | date_to_string }}</span>
    </li>
    {% endfor %}
  </ul>
</div>
