<footer class="footer">

<div id="mc_embed_signup" class="container">
  <form action="//qld.us2.list-manage.com/subscribe/post?u=360f9c19d1709c088fde562bd&amp;id=da7e7eee82" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate onsubmit="return validateForm()">
    <div id="mc_embed_signup_scroll">

      <div class="mc-field-group email_form">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_360f9c19d1709c088fde562bd_da7e7eee82" tabindex="-1" value="">
      </div>

    </div>
  </form>
</div>
<span class="copyright">Copyright &copy; Matthew Brown 2016</span>
</footer>

<script>
function validateForm() {
  console.log("Validating email")
  var email = document.forms["mc-embedded-subscribe-form"]["EMAIL"].value;
  if (email === null || email === "") {
    console.log("Email required", email);
    return false;
  }
  if (!/^.+@.+\..+$/.test(email)) {
    console.log("Invalid email", email);
    return false;
  }
}
</script>

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('require', 'linkid', 'linkid.js');
ga('require', 'displayfeatures');
ga('send', 'pageview');

</script>
{% endif %}
