<header class="SiteHeader">
  <a href={{ site.url }} class="SiteHeader__title">
    <h1>{{ site.title }}<span class="light">'s Blog</span></h1>
  </a>
  <div class="SiteHeader__icons">
    <a target="_blank" href="https://twitter.com/mnbbrown"><span class="icon-twitter-1"></span></a>
    <a target="_blank" href="https://github.com/mnbbrown"><span class="icon-github"></span></a>
    <a target="_blank" href="https://au.linkedin.com/in/mnbbrown"><span class="icon-linkedin-1"></span></a>
    <a target="_blank" href="/feed.xml"><span class="icon-rss"></span></a>
  </div>
</header>
