---
layout: new
---
<div class="Post">
  <a class="Post__titlelink" href="{{page.url}}"><h1 class="Post__title">{{page.title}} <span class="light">{{page.date | date_to_string }}</span></h1></a>
{{ content }}
</div>

<div class="RelatedPosts">
  <h2>Other posts</h2>
  <ul class="Posts">
    {% for post in site.related_posts limit:3 %}
      <li class="PostItem">
        <a class="PostItem__name" href="{{ post.url }}">{{ post.title }}</a>
        <span class="PostItem__date">{{ post.date | date_to_string }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
